---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../sections/Hero.astro";
import Info from "../sections/Info.astro";
import Layout from "../layouts/Layout.astro";
import Speakers from "../sections/Speakers.astro";
import Sponsors from "../sections/Sponsors.astro";
import Talks from "../sections/Talks.astro";
---

<Layout title="Stripe Sessioms 2023">
  <Header />
  <main>
    <Hero />
    <Info />
    <Talks />
    <Speakers />
    <Sponsors />
  </main>
  <Footer />
</Layout>
