---
import Button from "../components/Button.astro";
import DateLocation from "../components/DateLocation.astro";
---

<section class="h-[85vh] flex flex-col justify-end items-center gap-8 pb-20">
  <h1
    class="grid grid-cols-4 text-[20vw] md:text-[18vw] landscape:sm:text-[20vh] leading-none bg-clip-text text-transparent font-extrabold uppercase tracking-extrawidest [background-image:var(--text-gradient)] [&>span]:text-center"
  >
    <span>S</span>
    <span>e</span>
    <span>s</span>
    <span>s</span>
    <span>i</span>
    <span>o</span>
    <span>n</span>
    <span>s</span>
  </h1>
  <DateLocation center />
  <Button href="#" label="Watch the keynote" primary />
</section>
