---
import Card from "../components/Card.astro";
import CardHeader from "../components/CardHeader.astro";
import Container from "../layouts/Container.astro";
---

<section id="speakers" class="mb-5">
  <Container>
    <Card>
      <CardHeader title="Meet our speakers" />
      <p class="text-lg max-w-lg">
        Our speaker lineup comprises leaders from Stripe and beyond, who’ll
        share knowledge and advice on the most pressing topics facing companies
        today. Stay tuned for more announcements.
      </p>
    </Card>
  </Container>
</section>
